{% extends 'colaborador.html.twig' %}

{% block body %}
    <h1>Colaborador edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
    <ul>
        <li><input class="btn btn-warning btn-sm" type="submit" value="Edit" /></li>
    {{ form_end(edit_form) }}
    {{ form_start(delete_form) }}
        <br>
        <li><input class="btn btn-danger btn-sm" type="submit" value="Delete"></li>
    {{ form_end(delete_form) }}
        <br>
        <li><a href="{{ path('colaborador_index') }}">Atrás</a></li>
    </ul>
      
{% endblock %}
