{% extends 'colaborador.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-9">
            <h1>Colaboradores</h1><br>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9">
            <div class="colaboradorList">
                <span class="label label-primary">Nº de entradas: {{ colaboradors.getTotalItemCount }}</span>
                <table class="table table-hover ">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Competencias</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for colaborador in colaboradors %}
                        <tr>
                            <td><a href="{{ path('colaborador_show', { 'id': colaborador.id }) }}">{{ colaborador.id }}</a></td>
                            <td>{{ colaborador.nombre }}</td>
                            <td>
                            {% for competencia in colaborador.competencias %}
                                {{ competencia.nombre }}
                            {% endfor %}
                            </td>
                            <td>
                                <ul>

                                    <li>
                                        <a class="btn btn-warning btn-sm" href="{{ path('colaborador_edit', { 'id': colaborador.id }) }}">edit</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="pageNavigation">
                    {{ knp_pagination_render(colaboradors) }}
                </div>
                <ul>
                    <li>
                        <a class="btn btn-success" href="{{ path('colaborador_new') }}">Crear nuevo colaborador</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="search-container">
                <h4>Buscar colaborador</h4><hr />

                        {{ form_start(form) }}

                        {{ form_end(form) }}
                <a href="{{ path('colaborador_index') }}" class="btn btn-success">Reset</a>
            </div>
        </div>
    </div>
{% endblock %}
