{% extends 'colaborador.html.twig' %}

{% block body %}
{{ form_start(delete_form) }}
    <h1>Colaborador</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ colaborador.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ colaborador.nombre }}</td>
            </tr>
            <tr>
                <th>Competencias</th>
                <td>{% for competencia in colaborador.competencias %}
                        {{ competencia }}
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <ul >
        <li>
            <a href="{{ path('colaborador_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('colaborador_edit', { 'id': colaborador.id }) }}">Edit</a>
        </li>
        <li>
            
                <input type="submit" value="Delete" class="btn btn-success">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
