<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}

            <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
            <link rel="stylesheet" href="{{ asset('css/checkButtons.css') }}">
            <link rel="stylesheet" href="{{ asset('css/base.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('/css/form.css') }}">

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
    </head>
    <body>
        <div id="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('colaborador_index') }}">Colaboradores <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('competencia_index') }}">Competencias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('competenciacat_index') }}">Categorias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('user_index') }}">Usuarios</a>
                        </li>
                    </ul>
                    {% if app.user %}
                    <li class="dropdown navbar-nav">
                        <a style="color: white" href="#" class="dropdown-toggle" data-toggle="dropdown"><b><i class="glyphicon glyphicon-user"></i> {{ app.user.username }}</b> <span class="caret"></span></a>
                        <ul id="login-dp" class="dropdown-menu">
                            <li class="divider"></li>
                            <li class="nav-link" ><a href={{ path('user_registration') }}>Crear usuario</a></li>
                            <li class="divider"></li>
                            <li class="nav-link" ><a href="/user/logout">Cerrar sesión</a></li>
                            <li class="divider"></li>
                        </ul>
                    </li>
                    {% endif %}
                </div>
            </nav>
            <div class="jumbotron">

            {% block body %}

            {% endblock %}
            </div>
        </div>
        {% block javascripts %}
        <script src="https://bootswatch.com/_vendor/jquery/dist/jquery.min.js"></script>
        <script src="https://bootswatch.com/_vendor/popper.js/dist/umd/popper.min.js"></script>
        <script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>
