{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData,'security') }}</div>
    {% endif %}
    <form action="{{ path('login') }}" method="post">

        <div class="container">
            <label for="uname"><b>Username</b></label>
            <input type="text" value="{{ last_username }}"  placeholder="Enter Username" id ="username" name="_username" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="_password" id="password" required>

            <button type="submit">Login</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>
    </form>
{% endblock %}