{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-lg-9">
        <h1>Usuarios</h1>
    </div>
</div>
<div class="col-lg-9">
    <div class="colaboradorList">

        <table class="table table-hover ">
            <thead>
            <tr>
                <th>Id</th>
                <th>Usuario</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>
        {% for usuario in usuarios %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': usuario.id }) }}">{{ usuario.id }}</a></td>
                <td>{{ usuario.username }}</td>
                <td>{{ usuario.email }}</td>
                <td>
                    <ul>
                        <li>
                            <a class="btn btn-danger btn-sm" href="{{ path('user_show', { 'id': usuario.id }) }}">Eliminar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <div class="pageNavigation">
            {{ knp_pagination_render(usuarios) }}
        </div>
        <ul>
            <li>
                <a class="btn btn-success" href="{{ path('user_registration') }}">Nuevo usuario</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
