{% extends 'base.html.twig' %}

{% block body %}
    <h1>Usuario creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>

        </li>
    </ul>
{% endblock %}
