{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-lg-9">
        <h1>Competencias list</h1>
    </div>
</div>
    <div class="col-lg-9">
        <div class="colaboradorList">
            <span class="col-form-label">Nº de entradas: {{ competencias.getTotalItemCount }}</span>
            <table class="table table-hover ">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Categoria</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for competencia in competencias %}
                <tr>
                    <td><a href="{{ path('competencia_show', { 'id': competencia.id }) }}">{{ competencia.id }}</a></td>
                    <td>{{ competencia.nombre }}</td>
                    <td>{{ competencia.categoria }}</td>
                    <td>
                        <ul>
                            <li>
                                <a class="btn btn-warning btn-sm" href="{{ path('competencia_edit', { 'id': competencia.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
            <div class="pageNavigation">
                {{ knp_pagination_render(competencias) }}
            </div>
        <ul>
            <li>
                <a class="btn btn-success" href="{{ path('competencia_new') }}">Nueva competencia</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
