{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-lg-9">
        <h1>Categorías</h1>
    </div>
    <div class="col-lg-9">
        <div class="colaboradorList">
            <span class="col-form-label">Nº de entradas: {{ competenciaCats.getTotalItemCount }}</span>
            <table class="table table-hover ">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for competenciaCat in competenciaCats %}
                    <tr>
                        <td><a href="{{ path('competenciacat_show', { 'id': competenciaCat.id }) }}">{{ competenciaCat.id }}</a></td>
                        <td>{{ competenciaCat.nombre }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a class="btn btn-warning btn-sm" href="{{ path('competenciacat_edit', { 'id': competenciaCat.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        <ul>
            <li>
                <a class="btn btn-success" href="{{ path('competenciacat_new') }}">Crear nueva categoría</a>
            </li>
        </ul>
{% endblock %}
