{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nueva Categoría</h1>
    <br>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Crear" class="btn btn-success"/>
    {{ form_end(form) }}
    <br>
    <ul>
        <li>
            <a href="{{ path('competenciacat_index') }}">Atrás</a>
        </li>
    </ul>
{% endblock %}
